<head>
</head>

<body>
  <h1>Log in</h1>

  <%= flash.now[:error] %>

  <form action='/users' method='POST'>
    <p>Username: <input type='text' name='username'>
    <p>Email: <input type='text' name='email'>
    <p>Password: <input type='password' name='password'>
    <p>Password Confirmation: <input type='password' name='password_confirmation'>
    <input type="submit" value="Sign up">
  </form>

</body>
